# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db


# =========================
# IDEs / Editors
# =========================

.idea/
.vscode/


# =========================
# Java / Spring Boot
# =========================

*.class
target/


# =========================
# Android
# =========================

.gradle/
build/
local.properties
*.iml


# =========================
# Python
# =========================

__pycache__/
*.py[cod]
.venv/
venv/
env/


# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example


# =========================
# Logs
# =========================

*.log


# =========================
# Temporary Files
# =========================

*.tmp
*.temp